server:
  port: 8000

spring:
  application:
    name: auth-service

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # or 'create' if you uncomment
    properties:
      hibernate:
        format_sql: true
      show-sql: true


logging:
  level:
    org:
      springframework:
        boot:
          sql:
            init: DEBUG
        jdbc:
          datasource:
            init: DEBUG


eureka:
  client:
    service-url:
      defaultZone: http://eureka-server-service:8763/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true


