
services:
  keycloak-db:
    image: postgres:15-alpine
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak123
    ports:
      - "5437:5432"
#    volumes:
#      - keycloak-data:/var/lib/postgresql/data
    volumes:
      - kc-postgres-data:/var/lib/postgresql/data
    networks:
      - hospital-network
    restart: unless-stopped

  auth-db:
    image: postgres:15-alpine
    container_name: auth-db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: vignesh
      POSTGRES_DB: authdb
    ports:
      - "5436:5432"
    networks:
      - hospital-network
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root" ]
      interval: 5s
      timeout: 5s
      retries: 5

  patient-db:
    image: postgres:15-alpine
    container_name: patient-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: vignesh
      POSTGRES_DB: patientdb
    ports:
      - "5433:5432"
    networks:
      - hospital-network
    volumes:
      - patient-db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root" ]
      interval: 5s
      timeout: 5s
      retries: 5

  audit-service-db:
    image: postgres:15-alpine
    container_name: audit-service-db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: vignesh
      POSTGRES_DB: auditdetailsdb
    ports:
      - "5435:5432"
    volumes:
      - auditdetails-db-data:/var/lib/postgresql/data
    networks:
      - hospital-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root" ]
      interval: 5s
      timeout: 5s
      retries: 5


  appointment-db:
    image: postgres:15-alpine
    container_name: appointment-db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: vignesh
      POSTGRES_DB: appointmentdb
    ports:
      - "5434:5432"
    volumes:
      - appointment-db-data:/var/lib/postgresql/data
    networks:
      - hospital-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: redis-local-test-2
    ports:
      - "6379:6379"
    networks:
      - hospital-network
    deploy:
      resources:
        limits:
          memory: 512m
          cpus: "0.5"

  eureka-server-service:
    build:
      context: .                # build from project root
      dockerfile: ./eureka-server-service/Dockerfile
    image: eureka-service-jar
    container_name: eureka-server-service
    ports:
      - "8763:8763"
    environment:
      EUREKA_CLIENT_REGISTERWITH_EUREKA: "false"
      EUREKA_CLIENT_FETCHREGISTRY: "false"
    networks:
      - hospital-network
    healthcheck: # ✅ Optional but good for microservice monitoring
      test: [ "CMD", "wget", "--spider", "http://localhost:8763/actuator/health" ]
      interval: 10s
      retries: 3
      timeout: 5s

  api-gateway-service:
    build:
      context: .                # build from project root
      dockerfile: ./api-gateway-service/Dockerfile
    image: api-gateway-service-jar
    container_name: api-gateway-service
    ports:
      - "9000:9000"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server-service:8763/eureka/
      AUTH_SERVICE_URL: http://auth-service:8000
#      spring.cloud.gateway.server.webflux.routes[0].id: patient-service
#      spring.cloud.gateway.server.webflux.routes[0].uri: lb://patient-service
#      spring.cloud.gateway.server.webflux.routes[0].predicates[0]: Path=/patients/**
#      spring.cloud.gateway.server.webflux.routes[0].filters[0].name: CircuitBreaker
#      spring.cloud.gateway.server.webflux.routes[0].filters[0].args.name: patientSvcCB
#      spring.cloud.gateway.server.webflux.routes[0].filters[0].args.fallbackUri: forward:/fallback/patients
    depends_on:
      - eureka-server-service
      - keycloak
    networks:
      - hospital-network

  patient-service:
    build:
      context: .
      dockerfile: ./patient-service/Dockerfile
    image: patient-service-jar
    container_name: patient-service
    #    ports:
    #      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://patient-db:5432/patientdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: vignesh
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server-service:8763/eureka/
    depends_on:
      - keycloak
      - patient-db
      - eureka-server-service
      - api-gateway-service
    networks:
      - hospital-network
    expose:
      - "8081"

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    container_name: auth-service
#    ports:
#      - "8000:8000"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/authdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: vignesh
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server-service:8763/eureka/
      JWT_SECRET: abcdefghijklmnopqrstuvwx1234567890
    depends_on:
      - auth-db
      - eureka-server-service
    networks:
      - hospital-network


  appointment-service:
    build:
      context: .
      dockerfile: appointment-service/Dockerfile
    container_name: appointment-service
#    ports:
#      - "8082:8082"
    networks:
      - hospital-network
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://appointment-db:5432/appointmentdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: vignesh
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server-service:8763/eureka/
      spring.data.redis.host: redis
      spring.data.redis.port: 6379
      spring.cache.type: redis
      SPRING_KAFKA_BOOTSTRAP_SERVERS: broker:9092
    depends_on:
      - appointment-db
      - eureka-server-service
      - redis
      - broker
      - api-gateway-service
      - notification-service

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "8083:8083"
    networks:
      - hospital-network
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server-service:8763/eureka/
      SPRING_KAFKA_CONSUMER_GROUP_ID: notification-service-group
      SPRING_KAFKA_BOOTSTRAP_SERVERS: broker:9092
    depends_on:
      broker:
        condition : service_healthy
      eureka-server-service:
        condition: service_started



  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"
    restart: always
    networks:
      - hospital-network

  broker:
    image: confluentinc/cp-kafka:7.5.0
    container_name: broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    restart: always
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    networks:
      - hospital-network
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: mailhog
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI -> http://localhost:8025
    networks:
      - hospital-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "3001:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - api-gateway-service
      - patient-service
      - appointment-service
      - notification-service
    networks:
      - hospital-network

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3002:3000"
    links:
      - prometheus:prometheus
    volumes:
      - ./grafana:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: vignesh
    networks:
      - hospital-network

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak
    command: start-dev
    environment:
      # ---- HTTP + hostname / issuer settings ----
#      KC_HOSTNAME: keycloak  # ✅ for container network
#      KC_HOSTNAME_PORT: 8080   # ✅ Internal port
#      KC_HOSTNAME_STRICT: "false"
#      KC_HTTP_ENABLED: "true"

      KC_DB_URL: "jdbc:postgresql://keycloak-db:5432/keycloak"
      KC_DB_USERNAME: "keycloak"
      KC_DB_PASSWORD: "keycloak123"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: "postgres"
    ports:
      - "8080:8080"
#    volumes:
##      - ./docker/keycloak/realms/:/opt/keycloak/data/import/
#      - keycloak-data:/opt/keycloak/data
    networks:
      - hospital-network
    depends_on:
      - keycloak-db

  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin:latest
    ports:
      - "9411:9411"
    networks:
      - hospital-network


networks:
  hospital-network:
    driver: bridge

volumes:
  patient-db-data:
  appointment-db-data:
  auditdetails-db-data:
  auth-db-data:
  kc-postgres-data:      # ✅ Postgres data persistent (Keycloak DB)
#  keycloak-data:
#  keycloak-db-data:
