server:
  port: 9000

spring:
  application:
    name: api-gateway-service

#The API Gateway automatically creates routes
#  for every service registered in Eureka
#  By using their SERVICE-NAMEs.
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
#  security:
#    oauth2:
#      client:
#        registration:
#          HospitalManagement:
#            client-id: gateway
#            client-secret:
#            client-authentication-method:
#            authorization-grant-type:
#            redirect-uri:
#            scope:
#              - openid
#              -

  security:
    oauth2:
#      client:
#        registration:
#          keycloak:
#            client-id: api-gateway
#            client-secret: jm7H0f7Mu8NKEu9OdoM3KunrXY522cJD
#            authorization-grant-type: authorization_code
#            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
#        provider:
#          keycloak:
#            issuer-uri: http://localhost:8091/realms/healthcare-realm
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/healthcare-realm
          jwk-set-uri: http://localhost:8080/realms/healthcare-realm/protocol/openid-connect/certs



#eureka
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server-service:8763/eureka/
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true

#actuators
management:
  health:
    circuitbreakers:
      enabled: true
    ratelimiters:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus # '*' means /actuator/health , /actuator/info , /actuator/metrics ,
        #/actuator/loggers ,/actuator/env , /actuator/prometheus Expose all actuator endpoints
  tracing:
    sampling:
      probability: 1

  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web.reactive: DEBUG

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: patient-service
        url: /patient-docs/v3/api-docs
      - name: appointment-service
        url: /appointment-docs/v3/api-docs



#Define Static routes for Service application
#spring.cloud.gateway.server.webflux.routes[0].id=patient-service
#spring.cloud.gateway.server.webflux.routes[0].uri=lb://patient-service
#spring.cloud.gateway.server.webflux.routes[0].predicates[0]=Path=/patients/**
#spring.cloud.gateway.server.webflux.routes[0].filters[0]=CircuitBreaker=name=patientSvcCB,fallbackUri=/fallback/patients
#
#resilience4j.circuitbreaker.instances.appointmentScvFallback.failureRateThreshold=50
#resilience4j.circuitbreaker.instances.appointmentScvFallback.waitDurationInOpenState=10s
#resilience4j.circuitbreaker.instances.appointmentScvFallback.slidingWindowSize=10
#resilience4j.circuitbreaker.instances.appointmentScvFallback.permittedNumberOfCallsInHalfOpenState=3
#
## Patient Service CB
#resilience4j.circuitbreaker.instances.patientSvcFallback.failureRateThreshold=50
#resilience4j.circuitbreaker.instances.patientSvcFallback.waitDurationInOpenState=10s
#resilience4j.circuitbreaker.instances.patientSvcFallback.slidingWindowSize=10
#
