server:
  port: 9000

spring:
  application:
    name: api-gateway-service

#The API Gateway automatically creates routes
#  for every service registered in Eureka
#  By using their SERVICE-NAMEs.
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
#eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8763/eureka/
    register-with-eureka: true

  instance:
    prefer-ip-address: true

#actuators
management:
  health:
    circuitbreakers:
      enabled: true
    ratelimiters:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus # '*' means /actuator/health , /actuator/info , /actuator/metrics ,
        #/actuator/loggers ,/actuator/env , /actuator/prometheus Expose all actuator endpoints
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true



#Define Static routes for Service application
#spring.cloud.gateway.server.webflux.routes[0].id=patient-service
#spring.cloud.gateway.server.webflux.routes[0].uri=lb://patient-service
#spring.cloud.gateway.server.webflux.routes[0].predicates[0]=Path=/patients/**
#spring.cloud.gateway.server.webflux.routes[0].filters[0]=CircuitBreaker=name=patientSvcCB,fallbackUri=/fallback/patients
#
#resilience4j.circuitbreaker.instances.appointmentScvFallback.failureRateThreshold=50
#resilience4j.circuitbreaker.instances.appointmentScvFallback.waitDurationInOpenState=10s
#resilience4j.circuitbreaker.instances.appointmentScvFallback.slidingWindowSize=10
#resilience4j.circuitbreaker.instances.appointmentScvFallback.permittedNumberOfCallsInHalfOpenState=3
#
## Patient Service CB
#resilience4j.circuitbreaker.instances.patientSvcFallback.failureRateThreshold=50
#resilience4j.circuitbreaker.instances.patientSvcFallback.waitDurationInOpenState=10s
#resilience4j.circuitbreaker.instances.patientSvcFallback.slidingWindowSize=10
#
